main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}
  
#text-form {
    display: flex;
    flex-direction: column;
}
  
#text-form textarea {

}

#text-analysis {
    border: 2px solid rgb(0, 0, 109);
}
