main {
  padding: 4vh 0;
}

#text-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#text-form textarea {
  padding: var(--size-200);
  height: 200px;
}

#text-analysis > h2 {
  margin-top: var(--size-600);
}

#text-analysis > section {
  margin-top: var(--size-400);
}

#text-analysis > section > p {
  padding-left: var(--size-800);
}

#char-frequency-section > p {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-200);
}

.char-meter-p {
  display: inline-grid;
  grid-template-columns: calc(var(--fs-medium)*2) min-content calc(var(--fs-medium)*4);
}

.char-meter-p meter {
  align-self: center;
}


meter,
meter::-webkit-meter-bar,
meter::-webkit-meter-optimum-value,
meter::-webkit-meter-suboptimum-value,
meter::-webkit-meter-even-less-good-value,
meter::-webkit-meter-inner-element {
    border-radius: 0;
    border: none;
}

meter {
  --optimum: forestgreen;
  --sub-optimum: gold;
  --sub-sub-optimum: crimson;

  appearance: none;
  -moz-appearance: meter;
  -webkit-appearance: meter;
}

/* Firefox */
meter:-moz-meter-optimum::-moz-meter-bar {
  background: var(--optimum);
}
/* Chrome, etc. */
meter::-webkit-meter-optimum-value {
  background: var(--optimum);
}
meter:-moz-meter-sub-optimum::-moz-meter-bar {
  background: var(--sub-optimum);
}
meter::-webkit-meter-suboptimum-value {
  background: var(--sub-optimum);
}
meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
  background: var(--sub-sub-optimum);
}
meter::-webkit-meter-even-less-good-value {
  background: var(--sub-sub-optimum);
}

.error-msg {
  display: none;
}
