/* 
=== Styling Setup  === 
*/

:root {
  --clr-primary-black: 0, 0%, 0%;
  --clr-neutral: 60, 19%, 92%;
  --clr-secondary: 193, 97%, 34%;

  --ff-primary: sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-small: 0.875rem;
  --fs-medium: 1rem;
  --fs-big: 1.5rem;
  --fs-huge: 2.5rem;

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 2.5rem;
  --size-800: 3rem;
}

@media (min-width: 35em) {
  :root {
    --fs-big: 2rem;
    --fs-huge: 3.5rem;
    --fs-medium: 1.125rem;
  }
}

@media (min-width: 45em) {
  :root {
    --fs-big: 2.5rem;
    --fs-huge: 4.5rem;
    --fs-medium: 1.25rem;
    --fs-small: 1rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* 
=== Brand Styling ===
*/

body {
  font-size: var(--fs-medium);
  font-family: var(--ff-primary);
  color: hsl(var(--clr-primary-black));
}

p,
li {
  max-width: 60ch;
}

a,
button {
  cursor: pointer;
}

/* 
=== Utility Classes ===
*/

.container {
  --max-width: 1100px;
  --padding: var(--size-400);

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.text-center {
  text-align: center;
}

.text-primary-black {
  color: hsl(var(--clr-primary-orange));
}
.text-neutral {
  color: hsl(var(--clr-neutral));
}
.text-secondary {
  color: hsl(var(--clr-secondary));
}

.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-bold {
  font-weight: var(--fw-bold);
}

.fs-small {
  font-size: var(--fs-small);
}
.fs-medium {
  font-size: var(--fs-medium);
}
.fs-big {
  font-size: var(--fs-big);
  line-height: 1.1;
}
.fs-huge {
  font-size: var(--fs-huge);
  line-height: 1.1;
}

.display-none {
  display: none;
}
.display-block {
  display: block;
}